* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    position: relative;
    left: 10px;
}

.label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: coral;
    padding: 5px;
}